{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="px-2 text-danger">
                            <i class="fi-xnsus5-setting-solid"></i>
                        </div>
                        <h2 class="mb-0">RuneAd Tools</h2>
                        <p>Providing owners and players with the best tools found around the net</p>
                        <hr>


                        <div class="container py-5">
                        
                            <div class="row text-center">
                              <!-- Team item-->
                              <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                  <h5 class="mb-0">OSRS ItemDB</h5><span class="small text-uppercase text-muted">An OSRS ItemDB - Always up-to-date</span>
                                  <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                              <!-- End-->
                        
                              <!-- Team item-->
                              <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                  <h5 class="mb-0">OSRS ItemDB</h5><span class="small text-uppercase text-muted">An OSRS ItemDB - Always up-to-date</span>
                                  <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                              <!-- End-->
                        
                              <!-- Team item-->
                              <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                  <h5 class="mb-0">OSRS ItemDB</h5><span class="small text-uppercase text-muted">An OSRS ItemDB - Always up-to-date</span>
                                  <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                              <!-- End-->
                        
                            </div>
                          </div>






                    </div>
                </div>

                {{ content|raw }}
            </div>

        </div>
    </div>
</section>

{%  endblock %}
