{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                       
                        <h2 class="mb-0">RuneAd Tools</h2>
                        <p>Providing owners and players with the best tools found around the net</p>
                        <hr>

                        <div class="card text-center">
                          <div class="card-header">
                            Newest Added
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">317 Source Commands With Code</h5>
                            <p class="card-text">Need help with adding commands to your RSPS 317 source?</p>
                            <a href="#" class="btn btn-primary">View Page</a>
                          </div>
                          <div class="card-footer text-muted">
                            
                          </div>
                        </div>



                    </div>
                </div>

                {{ content|raw }}
            </div>

        </div>
    </div>
</section>

{%  endblock %}
