{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-40px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 mb-2 shadow-sm">
                    <div class="card-body">
                        <h3 class="mb-0">RuneAd Tools & Info</h3>
                        <p>Amazing RSPS Tools and Info found on RuneAd RSPS List</p>                     
                    </div>
                </div>
              </div>
            </div>


              <div class="row">
                <div class="col-sm-4">
                  <div class="card card-custom bg-white border-white">
                   <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-custom-avatar">
                      <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
                    </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Cards have minimum height set. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks">card-decks</a> to align them nicely in a row.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="#" class="btn btn-primary">Option</a>
                    <a href="#" class="btn btn-outline-primary">Other option</a>
                  </div>
                </div>
              </div>

            <div class="col-sm-4">
              <div class="card card-custom bg-white border-white">
               <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                <div class="card-custom-avatar">
                  <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
                </div>
              <div class="card-body" style="overflow-y: auto">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Cards have minimum height set. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks">card-decks</a> to align them nicely in a row.</p>
              </div>
              <div class="card-footer" style="background: inherit; border-color: inherit;">
                <a href="#" class="btn btn-primary">Option</a>
                <a href="#" class="btn btn-outline-primary">Other option</a>
              </div>
            </div>
          </div>

        <div class="col-sm-4">
          <div class="card card-custom bg-white border-white">
           <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
            </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Cards have minimum height set. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks">card-decks</a> to align them nicely in a row.</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-primary">Option</a>
            <a href="#" class="btn btn-outline-primary">Other option</a>
          </div>
        </div>
      </div>

                {{ content|raw }}
            </div>
</section>

{%  endblock %}
