{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-40px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 mb-2 shadow-sm">
                    <div class="card-body">
                      <div class="float-left mt-1 mr-3 text-default">
                        <i class="bi bi-joystick"></i>
                    </div>
                        <h3 class="mb-0">RuneAd Tools & Info</h3>
                        <p>Amazing RSPS Tools and Info found on RuneAd RSPS List</p>                     
                    </div>
                </div>
              </div>
            </div>


              <div class="row mb-2">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-1">
                  <div class="card card-custom bg-white border-white">
                   <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                    <div class="card-custom-avatar">
                      <img class="img-fluid" src="https://runead.com/public/img/icons/toolicon.png" alt="RuneAd RSPS List Image" />
                    </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="text-primary card-title">317 Commands</h4>
                    <p class="card-text">317 Commands with code, and how to use them!</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://runead.com/commands" class="btn btn-primary">View</a>
                  </div>
                </div>
              </div>

            <div class="col-sm-12 col-md-12 col-lg-4 mb-1">
              <div class="card card-custom bg-white border-white">
               <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                <div class="card-custom-avatar">
                  <img class="img-fluid" src="https://runead.com/public/img/icons/toolicon.png" alt="Avatar" />
                </div>
              <div class="card-body" style="overflow-y: auto">
                <h4 class="text-primary  card-title">OSRS ItemDB</h4>
                <p class="card-text">An updated OSRS ItemDB, with search and more!</p>
              </div>
              <div class="card-footer" style="background: inherit; border-color: inherit;">
                <a href="https://runead.com/tools/itemdb" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mb-1">
          <div class="card card-custom bg-white border-white">
           <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="https://runead.com/public/img/icons/toolicon.png" alt="Avatar" />
            </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="text-primary  card-title">OSRS Map</h4>
            <p class="card-text">An interactive OSRS Map with tons of features!</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="https://runead.com/tools/map" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
     </div>


     <div class="row mb-2">
      <div class="col-sm-12 col-md-12 col-lg-4 mb-1">
        <div class="card card-custom bg-white border-white">
         <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://runead.com/public/img/icons/toolicon.png" alt="RuneAd RSPS List Image" />
          </div>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="text-primary card-title">OSRS Experience Table</h4>
          <p class="card-text">A OSRS Experience Table with level difs and more!</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <a href="https://runead.com/tools/xptable" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12 col-md-12 col-lg-4 mb-1">
      <div class="card card-custom bg-white border-white">
       <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
        <div class="card-custom-avatar">
          <img class="img-fluid" src="https://runead.com/public/img/icons/toolicon.png" alt="RuneAd RSPS List Image" />
        </div>
      <div class="card-body" style="overflow-y: auto">
        <h4 class="text-primary card-title">Downloads</h4>
        <p class="card-text">RuneAd picked tools for RSPS general help and more!</p>
      </div>
      <div class="card-footer" style="background: inherit; border-color: inherit;">
        <a href="https://runead.com/downloads" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>



</section>

{%  endblock %}
