{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                       
                        <h2 class="mb-0">RuneAd Tools</h2>
                        <p>Providing owners and players with the best tools found around the net</p>
                        <hr>

                        <div class="card text-center">
                          <div class="card-header">
                            Newest Added
                          </div>
                          <img class="card-img-top" src="https://imgcache.rune-server.ee/1474466acbeaae13ea4e3beeafbd9d8698a02341/687474703a2f2f692e696d6775722e636f6d2f527373375a30552e706e67" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">317 Source Commands With Code</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">View Page</a>
                          </div>
                          <div class="card-footer text-muted">
                            2 days ago
                          </div>
                        </div>



                    </div>
                </div>

                {{ content|raw }}
            </div>

        </div>
    </div>
</section>

{%  endblock %}
