{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                       
                        <h2 class="mb-0">RuneAd Tools</h2>
                        <p>Providing owners and players with the best tools found around the net</p>
                        <hr>

                        <div class="card text-center">
                          <div class="card-header">
                            Newest Added
                          </div>
                          <div class="card img-fluid" style="width:500px">
                            <img class="card-img-top" src="https://www.tutorialspoint.com/avro/images/apache-avro-mini-logo.jpg" alt="Card image" style="width:100%">
                            <div class="card-img-overlay">
                              <h4 class="card-title">Avro</h4>
                              <p class="card-text">Tutorial for Apache Avro</p>
                              <a href="#" class="btn btn-info">Learn</a>
                            </div>
                          </div>
                        </div>



                    </div>
                </div>

                {{ content|raw }}
            </div>

        </div>
    </div>
</section>

{%  endblock %}
