{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;" id='search'>
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <div class="search-box d-inline-block mr-2">
                        <form action="{{ url('tools/itemdb') }}" method="post" class="form-inline" id="searchform">
                            <input type="text" class="form-control rounded-pill pl-4"
                                name="search" id="search"
                                placeholder="search by item name">
                            <input type="submit" class="btn btn-primary rounded-pill" value="search">
                        </form>
                    </div>

                    <div class="d-none" id="loader">
                        <i class="fi-xnsrsl-loading"></i> Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="results"></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(event) {
    let page   = 1;
    let search = '';
    let locked = true;
    loadItems(search, page);
    $('#searchform').submit(function(event) {
        event.preventDefault();
        if (locked) {
            return;
        }
        locked = true;
        search = $(this).find("#search").val();
        page   = 1;
        loadItems(search, page);
    });
    $(document).on('click', '#pageBtn', function(event) {
        //event.preventDefault();
        if (locked) {
            return;
        }
        locked = true;
        page   = $(this).data('page');
        loadItems(search, page);
    });
    function loadItems(search, page) {
        $('#loader').addClass("d-inline-block").removeClass("d-none");
        $.post("{{ url('tools/itemdb/search') }}", {
            search: search,
            page: page
        }, function(data) {
            $('#loader').removeClass("d-inline-block").addClass("d-none");
            $('#results').html(data);
            locked = false;
        });
    }
});
</script>
{%  endblock %}
