{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">


        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Newest Update!</strong> RuneAd now has a Videos page! Come check out some RSPS videos <a href="{{ url('videos/') }}">
                Here
            </a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">

                        <h2 class="mb-0">OSRS Interactive Map</h2>
                        <p>This was made possible by Explv's OSRS Interactive Map found <a href="https://github.com/Explv/Explv.github.io" target="_blank"> here</a>. ( Opens GitHub repo )</p>
                        <hr>

                        <div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src="https://explv.github.io/" style="border:0px #ffffff none;"
                            name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="850px" width="1280px" allowfullscreen>
                            </iframe>
                        </div>

                    </div>
                </div>

                {{ content|raw }}
            </div>

        </div>
    </div>
</section>

{%  endblock %}
