{% extends 'layout.twig' %}

{% block content %}
<section style="margin-top: -30px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-3">OSRS Interactive Map</h2>
                        <p>
                            This was made possible by Explv's OSRS Interactive Map, which can be found
                            <a href="https://github.com/Explv/Explv.github.io" target="_blank" rel="noopener noreferrer">here</a>.
                            (Opens GitHub repo)
                        </p>
                        <hr>
                        <div style="width: 100%; height: 100vh;">
                            <iframe
                                src="https://explv.github.io/"
                                style="border: 0; width: 100%; height: 100%;"
                                name="myiFrame"
                                scrolling="no"
                                frameborder="0"
                                marginheight="0"
                                marginwidth="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <p>Explore OSRS Zanaris with our interactive map, your
                           ultimate guide to the fairy realm and beyond! Dive into the OSRS Toplist for
                           the best community servers, including Project Zanaris,
                           where creativity meets adventure. Discover unique servers, engage with vibrant OSRS communities,
                           and bring your OldSchool RuneScape journey to life today!</p>
                    </div>
                </div>
                {{ content|raw }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
