{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="card border-warning shadow">
                    <div class="card-body">

                        <h2 class="mb-0">OSRS Experience Table</h2>
                        <p>Below is a simplified table of the experience requirements for each level in OldSchool RuneScape, including the experience gap between consecutive levels.</p>
                        <hr>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>XP Required</th>
                                        <th>XP Difference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for level, data in experience_data %}
                                    <tr>
                                        <td>{{ level }}</td>
                                        <td>{{ data.xp }}</td>
                                        <td>{{ data.diff }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>

                        <p>OSRS experience rates are based on current OldSchool RuneScape standards for skills like Attack, Strength, Defence, Ranged, Prayer, Magic, and more. Players can train these skills by performing various in-game activities, leading to increased levels and experience.</p>

                        <p>Players start with most skills at level 1 (except Hitpoints, which starts at level 10). The maximum level is 99, but players can continue earning experience up to 200,000,000 for additional achievements. Skills can also be temporarily boosted using equipment, items, prayers, or potions, providing tactical advantages in various scenarios.</p>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
