{% extends 'dash_layout.twig' %}
{% block content %}
<div class="container-fluid bg-default pb-7 pt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            {% for server in servers %}
            {% set seo = friendlyTitle(server.id~'-'~server.title) %}
            {% include 'dashboard/servers.twig' %}
            {% else %}
            <div class="alert alert-default shadow-sm">
                You dont have a server listed yet! Click the button above to add one now!
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include 'chart_config.twig' %}


{% endblock %}