<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mb-3">
            <div class="card-body d-flex align-items-center">
                <!-- User Avatar -->
                <div class="pr-3">
                    <img src="{{ avatar(user.user_id, user.avatar) }}"
                         class="rounded-circle"
                         alt="User Avatar"
                         height="60">
                </div>
                <!-- User Information -->
                <div class="flex-fill">
                    <small class="text-muted">Profile</small>
                    <h5 class="mb-0">
                        {{ user.username }} #{{ user.discriminator }}
                    </h5>
                </div>
                <!-- Add Server Button -->
                <div>
                    <a href="{{ url('servers/add') }}"
                       class="btn btn-default pulse-sponsor btn-lg">
                        Add Server
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
