<div class="row">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                    <div class="px-3">
                        {{ icon("cloud-download", 56, 56) }}
                    </div>
                     <div class="flex-fill w-100">
                         
                         <h2 class="mb-0">
                             Downloads
                         </h2>
                         <small class="text-muted">Permanent links for tools, sources, clients, web-templates & more!</small>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
