composer.phar
/vendor/
app/cache/*.json
app/cache/**/*.json
**/config.php
app/crons/cron.log
.idea/*
.history/*
**/js/fontawesome.pro.min.js
**/webfonts/*
**/sounds/
 **/banners/*.png
 **/banners/*.gif
 **/banners/*.jpg
 **/img/items/*.png

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
crons/cron.log
sitemap.xml
robots.txt
app/.DS_Store
.DS_Store
