composer.phar
/vendor/
/app/constants.php
/app/cache/
/public/webfonts/*
/public/sounds/
/public/img/banners/*.png
/public/img/banners/*.gif
/public/img/banners/*.jpg
/public/js/fontawesome.pro.min.js

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
