<div class="row">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                     
                    

                     <div class="flex-fill w-100">

                            <h1 style="font-family: 'Tangerine', serif;">Lanterns Web Services</h1>
                  
                         <small class="text-muted">Professional ✰ Affordable ✰ GFX, Forum, Themes & Website Services</small>
                     </div>

                     <div class="flex-fill w-100 text-right">
                         <a href="https://www.rune-server.ee/black-market/virtual-items/selling/675764-professional-affordable-gfx-forum-themes-website-services-25-vouches.html" target="_blank" class="btn btn-default btn-lg">
                             Rune-Server Post
                         </a>
                         <a href="https://discordapp.com/users/196389725773234187" class="btn btn-default btn-lg">Discord Me</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
