{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    {% include 'downloads/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-4">

            {% include 'downloads/components/sidebar_nav.twig' %}
            {% include 'downloads/components/settings.twig' %}

        </div>
        <div class="col-sm-12 col-lg-8">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Download</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Toms_Suite.jar</th>
                    <td>2020-10-03</td>
                    <td>199KB</td>
                    <td><a href="https://cdn.runead.com/downloads/tools/Toms_Suite.jar">Toms_Suite.jar</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Easy Galkon Sprites</th>
                    <td>2020-10-03</td>
                    <td>457.49KB</td>
                    <td><a href="https://cdn.runead.com/downloads/tools/easygalkonsprites.zip">easygalkonsprites</a></td>
                  </tr>


                </tbody>
              </table>
           
          
        </div>
    </div>

    {{ content|raw }}
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    $('a[id="showdetails"]').click(function(event) {
        event.preventDefault();
        let parent = $(this).closest(".card");
        parent.find("#statistics").toggle();
        parent.find("#details").toggle();
    });
});
</script>

{%  endblock %}