:root {
    --toggler-color: rgba(0, 0, 0, 0.4);
}

@font-face { font-family: "Montserrat-Bold"; src: url('../fonts/Montserrat-Bold.otf'); font-display: swap; }
@font-face { font-family: "Montserrat-Light"; src: url('../fonts/Montserrat-Light.otf'); font-display: swap; }
@font-face { font-family: "OpenSans-Light"; src: url('../fonts/OpenSans-Light.ttf'); font-display: swap;}
@font-face { font-family: "OpenSans-Regular"; src: url('../fonts/OpenSans-Regular.ttf'); font-display: swap; }

body {
    background-color: #f3f3f3;
    color: #7c7c7c;
    font-family: "OpenSans-Regular" !important;
}

.card-custom {
    overflow: hidden;
    min-height: 350px;
    border: 0;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }

.btn-vote {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }

.pricing {
    font-family: "Montserrat-Bold";
}
.pricing span {
    font-size: 16px;
    font-family: "Montserrat-Light";
}

.cloud-gradient {
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.kingfox {
    visibility: hidden;
  }

.videoGrid iframe{
      max-width: 100%;
  }

.text-logo {
	background: linear-gradient(to right, #1497e2 0%, #117796 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	};

.lantern-script {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
  }

.white-text {
 color: white !important;
}

.gold-text {
    color: #FFDF00 !important;
   }

.gold-bg {
    background-color:#FFDF00 !important;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:rgb(255, 187, 0);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.footer h3
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer a
{
  color:#737373;
}
.footer ul
{
  color:#FFF;
}
.footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#FFF;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

@media screen and (max-width : 1920px){
  .div-only-mobile{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .desk{
  visibility:hidden;
  }
 .div-only-mobile{
  visibility:visible;
  }
}

.sponsor {
    background-color:#ffebac
}

.desk-text{
    font-size: 25px;
}
.div-only-mobile-text{
    font-size: 25px;
}
@media screen and (max-width : 1920px){
  .div-only-mobile-text{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .desk-text{
  visibility:hidden;
  }
 .div-only-mobile-text{
  visibility:visible;
  }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

a.text-primary:hover {
    color: #8294ff !important;
}
.bg-dark-footer {
    background-color: #202225 !important;
}
.sponsor-blue {
    color: #0275d8 !important;
}
.vote-gold {
    color: #ffee00de !important;
}
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    color: #fff;
    background-color: #3c4d69;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "OpenSans-Regular" !important;
}
.custom-header {
    /*background-image: linear-gradient(to right bottom, #2327a0, #05c6b1);*/
    background: url('../img/runeadq.jpg') top center no-repeat #6a8bbe;
}
.custom-header .navbar .nav-link {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.custom-header .d-flex {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.header h1 {
    font-family: "Montserrat-Bold";
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.header h1 span {
    font-family: "Montserrat-Light";
}
.header p {
    line-height: 1.2em;
}
.bg-custom {
    background: #3bafda linear-gradient(135deg,#3bafda 0,#7bc9e6 80%);
}
.full-height {
    min-height:100vh !important;
}
.login-box {
    max-width:400px;
    height:100vh;
}
.navbar-vertical .navbar-nav .nav-link.active {
    background-color:rgba(94, 114, 228, 0.1) !important;
}
.table td, .table th {
    vertical-align: middle;
}
.custom-switch .custom-control-label::before {
    border-radius: 1rem !important;
}
.header-inner {
    margin-bottom: 30px;
    position: absolute;
    top: 0;
}
.alert-box {
    width:100%;
    height:53px;
    overflow: hidden;
    display: none;
}

.alert-box .alert {
    border-radius: 4px 4px 0 0;
    transition: all .3s ease-in-out;
}

ul {
    list-style-type: none;
	padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}

#sidebar-menu .main-menu a:hover {
	color: #11427D;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}
.bg-light {
    background-color:rgba(0,0,0,0.05) !important;
}
/*
.nav-pills .nav-link {
    padding: .45rem 1rem;
    transition: all .15s ease;
    color: #667d99;
    background-color: transparent;
    box-shadow: none !important;
}
.nav-pills .nav-link:hover {
    color: rgb(239, 86, 79);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(239, 86, 79);
    background-color: transparent !important;
    font-weight:600 !important
}*/
.subnav {
    margin-left:2rem !important;
}

.user_avatar {
    width: 40px;
    height:40px;
    float:left;
    background-size: 100%;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
}

.user_avatar.large {
    width: 64px;
    height:64px;
}

.user_avatar .user-online {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0px;
    border: solid 2px white;
    bottom: 0px;
}

.user_avatar.large .user-online {
    position: absolute;
    width: 18px;
    height: 18px;
    border: solid 3px white;
}
.list-group-item {
    color: #7c7c7c;
    border: none;
    background-color:transparent;
}
.list-group-item:hover {
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    color: #667d99;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5rem;
}
.text-muted {
    color: #aaa !important;
}
.btn {
    font-size: .8rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none !important;
    will-change: transform;
    font-weight:100;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
.reply-card {
    position: relative;
}
.reply-card:after  {
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    left: -10px;
    top:20px;
}
.rank-col {
    font-size: 18px;
}

.premium-icon {
    color: rgba(0,0,0,0.5) !important;
}

.banner-holder {
    width: 100%;
    max-width: 468px;
    height: auto;
    max-height: 60px;
    display: block;
    background-color:rgba(0,0,0,0.1);
    line-height: 60px;
    text-align: center;
    color:rgba(0,0,0,0.2);
}
a.banner-img {
    max-width: 468px;
    display: block;
}

@media(max-width: 992px) {
    .rank-col {
        width: 65px;
    }
    .banner-holder {
        height: 42px;
        line-height: 42px;
    }
}

@media(max-width: 768px) {
    /*.banner-holder, .banner-img {
        display: none !important;
    }*/
    .banner-holder {
        height: 26px;
        line-height: 26px;
    }
    .revision {
        display: none !important;
    }
    .status {
        display: none !important;
    }
    .status-col {
        display: none !important;
    }
}

@media(min-width: 767px) {
    .rank-col {
        width: 100px;
    }
}

.status {
    display: block;
    width: 11px;
    height: 11px;
    margin-top: 4px;
    float: left;
    border-radius: 50%;
    background-color: #333;
}

.status.status-offline  {
    background-color: rgba(247, 86, 118, 1) !important;
    animation: pulse-red 1.5s infinite;
}

.status.status-online  {
    background-color:rgba(79, 214, 156, 1) !important;
    animation: pulse-green 1.5s infinite;
}

.pulse-turbo  {
    animation: pulse-turbo 2.0s infinite;
}

.pulse {
    animation: pulse-premium 1.9 infinite;

}

.pulse-sponsor {
    animation: pulse-sponsor 1.9s infinite;

}

@keyframes pulse-turbo {
    0% {
      transform: scale(.3);
      
      border-radius: 100%;
    }
    50% {
      
    }
    100% {
      transform: scale(1.5);

    }
  }
@keyframes pulse-red
{
    0% {
        box-shadow: 0 0 0 0px rgba(247, 86, 118, 0.7);
    }
    100% {
        box-shadow: 0 0 0 6px rgba(247, 86, 118, 0);
    }
}
@keyframes pulse-green
{
    0% {
        box-shadow: 0 0 0 0px rgba(79, 214, 156, 0.7);
    }
    100% {
        box-shadow: 0 0 0 6px rgba(0, 255, 0, 0);
    }
}
@keyframes pulse-premium
{
    0% {
        box-shadow: 0 0 0 0px rgba(55, 213,242, 1);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(55, 213,242, 0);;
    }
}
@keyframes pulse-sponsor
{
    0% {
        box-shadow: 0 0 0 0px rgba(55, 225,215, 1);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(55, 225,215, 0);;
    }
}

tr.bg-primary, .bg-premium {
    background-color: #FFEB99 !important;
}
.card-body p:last-child {
    margin-bottom: 0 !important;
}
.text-discord {
    color: #7289DA;
}

.revision {
    display: inline-block;
    font-size: 12px;
    height:16px;
    position: relative;
    width:40px;
}
.revision-inner {
    position: absolute;
    left:10px;
    display: inline-block;
    font-size: 12px;
    top:2px;
    padding:3px 5px;
}

.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #8898aa;
}

.sections-page [class*=blogs-], .sections-page [class*=contactus-], .sections-page [class*=features-], .sections-page [class*=pricing-], .sections-page [class*=projects-], .sections-page [class*=team-], .sections-page [class*=testimonials-] {
    padding: 80px 0 !important;
}
.badge {
    line-height: .7em;
}

.alert-warning {
    color: #7c550f !important;
    background-color: #fcedd2;
    border-color: #fbe5c0;
    color: #000;
}

.topbar {
    background-color:rgba(0,0,0,0.2);
}

.truncate-title {
    max-width:250px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

table.blur-table tr {
    position: relative !important;
    filter: blur(0);
}
.overlay {
    position: relative;
}
.overlay:after {
    position: absolute;
    content: ' ';
    width:100%;
    background-color: rgba(0,0,0,0.02);
    top: 0;
    bottom: 0;
    height:100%;
    backdrop-filter: blur(2px);
}
.enlarge {
    transform: scale(1.02);
    z-index:1;
    background-color: white;
}
@media(min-width: 992px) {
.enlarge-2 {
    transform: scale(1.05);
    z-index:1;
}
}
.rotate-45 {
    transform:rotate(-45deg);
}
.shadow-inset-bottom {
    box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.1);
}
.shadow-inset-top {
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.1);
}
.bg-default {
    background-color: #3c4d69 !important;
}
.btn-default {
    border-color: #3c4d69 !important;
    background-color: #3c4d69 !important;
}
.btn-outline-default {
    border-color: #3c4d69 !important;
    color: #3c4d69 !important;
}
.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active {
    background-color: #3c4d69 !important;
    color: white !important;
}
.search-box {
    max-width: 550px !important;
}
.search-box form {
    width:400px;
    position: relative !important;
}
.search-box input.form-control {
    padding-right: 120px !important;
    width:400px;
}
.search-box .btn {
    position: absolute !important;
    top: 2.5px !important;
    right: 2.5px !important;
}
.status-badge {
    background-color: transparent;
    padding-left: 13px;
    position: relative;
}
.badge-danger {
    color: rgba(247, 86, 118, 1) !important;
}
.badge-success.status-badge:before {
    content: ' ';
    position:absolute;
    left:0;
    top:4px;
    border-radius: 50%;
    width:9px;
    height:9px;
    background-color:#1aae6f;
    animation: pulse-green 1.5s infinite;

}
.badge-danger.status-badge:before {
    content: ' ';
    position:absolute;
    left:0;
    top:4px;
    border-radius: 50%;
    width:9px;
    height:9px;
    background-color:rgba(247, 86, 118, 1);
    animation: pulse-red 1.5s infinite;

}
.popover {
    min-width:400px !important;
    line-height: 1em;
}
.text-default {
    color: #3c4d69 !important;
}
.alert-info {
    color: #11cdef !important;
    background-color: rgba(55, 213,242, 0.3);
    border-color: #b8e3f5;
}
.alert-info h4 {
    color: #11cdef !important;
}
.bi-spin svg {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.strand{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}
.strand li{
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-interation-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background:#f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.strand li:nth-child(2n+1){
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
.strand li:nth-child(4n+2){
    background: #f9fbee;
    box-shadow: 0px 4.66667px 24px 3px #f9fbee;
    -webkit-animation-name: flash-3;
    animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}
.strand li:nth-child(odd){
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}
.strand li:nth-child(3n+1){
    -webkit-animation: 1.4s;
    animation-duration: 1.4s;
}
.strand li:before{
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.33333px;
    border-radius: 3px;
    top: -4.66667px;
    left: 1px;
}
.strand li:after{
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.66667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.strand li:last-child:after{
    content: none;
}
.strand li:first-child{
    margin-left: 40px;
}
@-webkit-keyframes flash-1{
    0%, 100%{
        background: #f02241;
        box-shadow: 0px 4.66667px 24px 3px #f02241;
        -webkit-animation-delay: 150ms;
    }
    50%{
        background: rgba(240, 34, 65, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, .02);
        -webkit-animation-delay: 150ms;
    }
}
@keyframes flash-1{
    0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
    -webkit-animation-delay: 150ms;
  }
  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.2);
    -webkit-animation-delay: 150ms;
  }
}
@-webkit-keyframes flash-2{
    0%,
    100%{
        background: #42b261;
        box-shadow: 0px 4.66667px 24px 3px #42b261;
        -webkit-animation-delay: 150ms;
    }
    50%{
        background: rgba(66, 178, 97, 0.4);
        box-shadow: 0px 4.6667px 24px 3px rgba(66, 178, 97, 0.2);
        -webkit-animation-delay: 150ms;
    }
}
@keyframes flash-2{
    0%,
  100% {
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px #42b261;
    -webkit-animation-delay: 150ms;
  }
  50% {
    background: rgba(66, 178, 97, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(66, 178, 97, 0.2);
    -webkit-animation-delay: 150ms;
  }
}
@keyframes flash-3{
    0%,
    100%{
        background: #f9fbee;
        box-shadow: 0px 4.6667px 24px 3px #f9fbee;
        -webkit-animation-delay: 150ms;
    }
    50%{
        background: rgba(249, 251, 238, .4);
        box-shadow: 0px 4.66667px 24px 3px rgba(249, 251, 238, .2);
        -webkit-animation-delay: 150ms;
    }
    
}
