<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mb-3">
            <div class="card-body" style="line-height:.8em;">
                <div class="d-flex align-items-center">
                    <div class="flex-fill w-100">
                        <small class="text-muted"></small>
                        <h5 class="mb-0">
                           RuneAd Blog
                        </h5>
                        <small class="text-muted">Creating the best RuneScape blog posts.</small>
                    </div>
                    <div class="flex-fill w-100 text-right">
                        <a href="{{ url('blog') }}" class="btn btn-default btn-lg">
                            Blog Home
                        </a>
                        <a href="{{ url('#') }}" class="btn btn-success btn-lg">Future button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
