<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mb-3">
            <div class="card-body" style="line-height:.8em;">
                <div class="d-flex align-items-center">
                    <div class="header text-default">
                        <div class="container">
                            <div class="d-flex pb-1 align-items-center">
                                <div class="flex-fill d-none d-lg-flex pr-2">
                                    {{ icon('shield-shaded', 68, 68) }}
                                </div>
                                <div class="flex-fill">
                                    <h4 class="text-default mb-4">
                                        RuneAd Blog
                                        </h4>
                                        <p class="text-small">
                                            Modern Runescape & RSPS blogs
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="flex-fill w-100 text-right">
                        <a href="{{ url('blog') }}" class="btn btn-default btn-sm">
                            Blog Home
                        </a>
                        <a href="{{ url('blog/add') }}" class="btn btn-default btn-sm">Create post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
