<div class="row">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                     <div class="flex-fill pr-3">
                         <img src="https://cdn.discordapp.com/avatars/682492152495996949/70e14fabaae733d70bdb069ef76e8be6.png"
                         class="rounded-circle mr-3"
                         height="60">
                     </div>
                     <div class="flex-fill w-100">
                         <small class="text-muted">Blog post by</small>
                         <h5 class="mb-0">
                            Aaron (RuneAd Owner) #6913
                         </h5>
                     </div>
                     <div class="flex-fill w-100 text-right">
                         <a href="{{ url('blog') }}" class="btn btn-default btn-lg">
                             Blog Home
                         </a>
                         <a href="{{ url('#') }}" class="btn btn-success btn-lg">Future button</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
