{% extends 'admin_layout.twig' %}
{% block content %}
{% include 'admin/sidebar.twig' %}

<div class="main-content" id="panel">
    {% include "admin/header.twig" %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  </div>
  </div>
{% include 'chart_config.twig' %}

<script>
$(document).ready(function() {
    options.scales.xAxes = [{
        barPercentage: 0,
        ticks: { display: true },
        gridLines: {
            color: "rgba(0, 0, 0, 0)",
            drawBorder: false,
        }
    }];
    options.scales.yAxes = [{
        ticks: { display: true },
        gridLines: {  drawBorder: true }
    }];
    let element = document.getElementById("chart-orders");
    let context = element.getContext("2d");
    let chart = new Chart(context, {
        type: 'line',
        data: {
            labels: {{ chart_keys|json_encode|raw }},
            datasets: [
                {
                    label: 'Earned',
                    data: {{ chart_values|json_encode|raw }},
                    borderColor: window.chartColors.purple,
                    backgroundColor:  window.chartColors.purpleLight,
                    hoverBackgroundColor: window.chartColors.purpleLight,
                    barWidth: 2,
                }
            ]
        },
        options: options
    });
});
</script>
{% endblock %}
