<div class="row">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                    <div class="px-3">
                        {{ icon("terminal-fill", 56, 56) }}
                    </div>
                     <div class="flex-fill w-100">
                         
                        <h4 class="mb-0">
                            RSPS Commands and How To Use Them
                        </h4>
                        <small class="text-muted">Common and most used RSPS commands, and how to use them</small>
                     </div>
                     <div class="flex-fill text-right" style="min-width:250px;">
                        <a href="{{ url('tools/itemdb') }}" class="btn btn-default">
                            OSRS Item DB
                        </a>

                        <a href="{{ url('tools/map') }}" class="btn btn-default">
                            OSRS Map
                        </a>
                    </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
