<div class="card border-0 shadow-sm mb-4">
    <div class="sticky-top" style="top:18px;">
     <div class="list-group">
         <a href="{{ url('commands') }}" class="list-group-item {{ action == "index" ? "active" : "" }}">

             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('file-arrow-down', 18, 18) }}
             </div>

             All
         </a>
     </div>
 </div> 
</div> 
