<div class="card border-primary overflow-hidden d-none d-md-block">
     <div class="card-body">
         <div class="row flex-md-row flex-column">

            Project Zanaris is a community-driven initiative for OldSchool RuneScape players, offering a unique way to connect through custom servers.
            These community servers provide tailored experiences beyond the standard gameplay.
            PlayZanaris serves as a comprehensive toplist website that showcases and ranks these servers,
            making it easy for players to discover and join the most active and engaging servers within the Project Zanaris network.

             <!--- <div class="col mb-sm-3 mb-md-0">
                 <a href="{{ url('premium') }}" class="btn btn-success btn-md">Go Premium</a>
                 <a href="{{ url('sponsor') }}" class="btn btn-info btn-md">Sponsor Info</a>
             </div> ---->
{#              <div class="col text-sm-left text-md-right">
                 <a href="{{ url('servers/add') }}"
                     class="btn btn-success btn-md {{ user is defined ? '' : 'disabled' }}"
                     data-toggle="tooltip"
                     data-title="Add Server">
                     <span>Add</span> your Community Server
                 </a>
             </div> #}
         </div>
     </div>
 </div>
