<div class="card overflow-hidden">
     <div class="card-body">
         <div class="row flex-md-row flex-column">
             <div class="col mb-sm-3 mb-md-0">

                 <a href="{{ url('premium') }}" class="btn btn-success btn-md">Go Premium</a>
                 <a href="{{ url('sponsor') }}" class="btn btn-info btn-md">Sponsor Info</a>
             </div>
             <div class="col text-sm-left text-md-right">
                 <a href="{{ url('servers/add') }}"
                     class="btn btn-success btn-md {{ user is defined ? '' : 'disabled' }}"
                     data-toggle="tooltip"
                     data-title="Add Server">
                     <i class="fi-xwsuxm-plus-solid"></i> Server
                 </a>
             </div>
         </div>
     </div>
 </div>
