<div class="card border-secondary overflow-hidden d-none d-md-block" style="background-color: rgb(83, 67, 49); color: white;">
    <div class="card-body">
        <div class="row flex-md-row flex-column">

<p>
    Project Zanaris is a community-driven initiative for OldSchool RuneScape players, offering a unique way to connect through custom servers.
    These community servers provide tailored experiences beyond the standard gameplay.
    PlayZanaris serves as a comprehensive toplist website that showcases and ranks these servers,
    making it easy for players to discover and join the most active and engaging servers within the Project Zanaris network.
    <a href="https://zanaris.runescape.com/" target="_blank" style="color: white; text-decoration: underline;">Learn more here</a>
</p>
        </div>
    </div>
</div>
