<div class="card border-0 shadow overflow-hidden">
     <div class="card-body">
         <div class="row flex-md-row flex-column">
             <div class="col mb-sm-3 mb-md-0">

                 <a href="{{ url('premium') }}" class="btn btn-success btn-sm">Go Premium</a>
                 <a href="{{ url('sponsor') }}" class="btn btn-info btn-sm">Sponsor Info</a>
             </div>
             <div class="col text-sm-left text-md-right">
                 <a href="{{ url('servers/add') }}"
                     class="btn btn-success btn-sm {{ user is defined ? '' : 'disabled' }}"
                     data-toggle="tooltip"
                     data-title="Add Server">
                     Add Server
                 </a>
             </div>
         </div>
     </div>
 </div>
