<style>
@media screen and (max-width : 1920px){
  .div-only-mobile{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .desk{
  visibility:hidden;
  }
 .div-only-mobile{
  visibility:visible;
  }
}

</style>

<div class="d-flex w-100 card border-0 shadow-sm mb-3 overflow-hidden">
  <a rel="nofollow"
      target="_self"
      href="{{ url('ads')}}"
      title="Vertical Banner">
      <img src="https://runead.com/public/img/banners/banner468.png?raw=true">
  </a>
</div>
