<style>
@media screen and (max-width : 1920px){
  .div-only-mobile{
  visibility:hidden;
  }
}
@media screen and (max-width : 906px){
 .desk{
  visibility:hidden;
  }
 .div-only-mobile{
  visibility:visible;
  }
}

</style>

<div class="desk text-center card-body py-2">
              <div class="container">
                <table class="table mt-0 mb-0 tab " style="line-height: 0.0em">
                  <p id="HomeAds"></p>
                </table>
          </div>
      </div>
