{% extends 'layout.twig' %}

{% block content %}
<div class="container" style="margin-top:-50px;">
    <div class="row">
        <div class="col-sm-12">
            {% include 'index/headnav.twig' %}

            <div class="content-section py-4">
                <p>{{ content|raw }}</p>
            </div>

        </div>

        <div class="col-sm-12 d-flex w-100">
            <div class="flex-fill w-100">
                {% include 'index/listing.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
