{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    <div class="row">
        <div class="col-sm-12">
            {% include 'index/headnav.twig' %}

            <p>{{ content|raw }}</p>

            {% include 'index/sponsors.twig' %}
            {% if servers.currentPage() == 1 %}
            {% include 'index/HomeAds.twig' %}
            {% endif %}
            {% include 'index/listing.twig' %}
        </div>
    </div>
</div>

{%  endblock %}
