{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    <div class="row">
        <div class="col-sm-12">
            {% include 'index/headnav.twig' %}

            <p>{{ content|raw }}</p>

            {% include 'index/sponsors.twig' %}
            {% if servers.currentPage() == 1 %}
            {% include 'index/HomeAds.twig' %}
            {% endif %}
            <div class="d-flex w-100">
                <div class="flex-fill w-100 pr-0 pr-lg-3">
                    {% include 'index/listing.twig' %}
                </div>
                <div class="flex-fill text-right d-none d-lg-inline-block" style="min-width:160px;max-width:160px;">
                    <div class="card border-0 shadow-sm mb-3 overflow-hidden">
                        <a rel="nofollow"
                            target="_self"
                            href="{{ url('ads')}}"
                            title="Vertical Banner">
                            <img src="https://github.com/RuneNexus/RuneNexus/blob/34f40c321a3ba208f7f8ef8416bc8bf833424355/public/img/banner-loading-v.png?raw=true">
                        </a>
                    </div>
        
                    <div class="card border-0 shadow-sm mb-3 overflow-hidden">
                        <a rel="nofollow"
                            target="_self"
                            href="{{ url('ads')}}"
                            title="Vertical Banner">
                            <img src="https://github.com/RuneNexus/RuneNexus/blob/34f40c321a3ba208f7f8ef8416bc8bf833424355/public/img/banner-loading-v.png?raw=true">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
        {%  endblock %}
