<div class="card border-0 shadow-sm overflow-hidden mb-2">
    <div class="text-white listing-header card-header py-2">
        <div class="row align-items-center">
            <h5 class="text-quicksand text-white">
                Explore New Servers
            </h5>
        </div>
    </div>

    <table class="table mb-0 border-primary" style="line-height:1em; background-color: rgba(233, 220, 178, 0.9);">
        <tbody>
         Test
        </tbody>
    </table>
</div>


