<div class="card border-0 shadow-sm overflow-hidden mb-2">
    <div class="card-header py-2 text-white listing-header">
      <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rocket-takeoff-fill" style="margin-right: 0.3rem;" viewBox="0 0 16 16">
          <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.6 3.6 0 0 0-.108-.563 2 2 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2 2 0 0 0-.16-.045 4 4 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.55 2.55 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361s.437 1.732-.36 2.531Z"/>
          <path d="M5.205 10.787a7.6 7.6 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925"/>
        </svg>
        <p class="text-quicksand text-white mb-0">Explore New Worlds</p>
      </div>

    </div>

    {% set start_rank = servers.firstItem() %}

    <table class="table mb-0 border-primary" style="line-height: 1em; background-color: rgba(233, 220, 178, 0.9);">
        <tbody>
            {% set row_count = 0 %} <!-- Initialize row counter -->
            {% for server in servers.items()|sort((a, b) => b.date_created <=> a.date_created) if row_count < 5 %}
                {% set server_url = friendlyTitle(server.id ~ ' ' ~ server.title) %}

                <tr style="border-bottom: 1px solid #ccc;">
                    <td>
                        <a href="{{ url('details/' ~ server_url) }}">
                            {{ server.title|length > 40 ? server.title|slice(0, 40) ~ '...' : server.title }}
                        </a>
                    </td>
                </tr>
                {% set row_count = row_count + 1 %} <!-- Increment row counter -->
            {% else %}
                {% if row_count == 0 %} <!-- Handle case where there are no servers -->
                    <tr>
                        <td colspan="3" class="p-4">Nothing to see here.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.querySelectorAll('table tbody tr').forEach(row => {
            row.addEventListener('mouseenter', () => {
                row.style.backgroundColor = 'rgba(200, 200, 200, 0.5)';
            });
            row.addEventListener('mouseleave', () => {
                row.style.backgroundColor = '';
            });
        });
    </script>
</div>

<div class="card border-0 shadow-sm overflow-hidden mb-2">
    <div class="card-header py-2 text-white listing-header">
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5m-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"/>
            </svg>
            <p class="text-quicksand text-white mb-0 ms-2">Statistics</p>
        </div>
    </div>
    <div class="card-body stats-body">
        <div class="row">
            <div class="col-8 text-left mb-3">
                <span class="small">Total Votes</span>
            </div>
            <div class="col-4 text-right">
                <span class="badge badge-dark text-white">1234</span>
            </div>
            <div class="col-8 text-left mb-3">
                <span class="small">Active Members</span>
            </div>
            <div class="col-4 text-right">
                <span class="badge badge-dark text-white">{{ data['users']['total']|number_format }}</span>
            </div>
        </div>
    </div>
</div>




</div>