{%  extends 'layout.twig' %}

{% block content %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-12">
            <h3 class="display-3 mt-3 mb-0">
                Banner Ads
            </h3>
            <p>
                Get the most bang for your buck with our banner ad slots.
                Depending on the package you choose, your ad will be displayed accordingly.
            </p>


            <p class="font-weight-bold">
                Slots Available: <span class="text-danger">9</span>

            </p>

        </div>
    </div>
</div>

<section class="mt-5">
    <div class="container">
        <div class="row">


        </div>
    </div>
</section>
{% endblock %}
