<div class="accordion" id="FAQ">
    <div class="card">
      <div class="bg-default card" id="headingOne">
        <h2 class="mb-0">
          <button class="text-white btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>What is RuneAd?</h3>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#FAQ">
        <div class="card-body">
          RuneAd is a Runescape Private Server ( RSPS ) Toplist that lists and displays different RSPS. All servers & information 
          listed on RuneAd are provided by users. We do our best to keep the site up-to-date, and we post all updates via Discord 
          Developer Blog found on the <a href="https://discord.gg/XH5keGQ" target="_blank">RuneAd Discord</a>.
          <hr>
          RuneAd RSPS List strives on helping all communties grow to their maximum potential. This means we will always be here for every aspect of
          your rsps list needs. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="bg-default card" id="headingTwo">
        <h2 class="mb-0">
          <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I list my Runescape Private Server ( RSPS )?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#FAQ">
        <div class="card-body">
            Listing your server has never been easier! The first step in getting your server listed is by logging in RuneAd, 
            which can be done by navigating to the top of RuneAd.com and clicking the "Sign in/ Register" button. 
            We require a Discord account in order to use our services. Once logged in, you will notice your discord username 
            at the top right of the webpage, hover over your name in and you will see "My Profile". 
            This is your RuneAd profile page that you will see different information based on your RuneAd time. 
            To add your RSPS from your profile page, simply click "Add Server", which will bring you to a form to fill out 
            with your server information. Private information about your servers such as the IP and Port will be hidden 
            from the public, but viewable only by the owner of the server listing. Once you are finished filling out the 
            form for your server, click the "create listing" button and this will put your listing on RuneAd. <br>
            There are two ways to use the backend voting of RuneAd. We have our own API which can be found 
            <a href="https://runead.com/docs" target="_blank">Here</a>. RuneAd is also listed on 
            <a href="https://everythingrs.com" target="_blank">EverythingRS</a>, information on how to set that up is listed on their website.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="bg-default card" id="headingThree">
        <h2 class="mb-0">
          <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What is a RSPS?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#FAQ">
        <div class="card-body">
            RSPS stands for RuneScape Private Server, this is a server based on Runescape which is not created by Jagex but by developers 
            who have learned how to program java (programming language), they have been creating Runescape private servers shortly after 
            the release of Runescape. There are many different types of private servers, most of the servers are based on revision 317, 
            this is the oldest revision used by RSPS developers and the most popular one for the RSPS community. Other popular revisions 
            are 474, 508, 525, 562 and 667.
        </div>
      </div>
    </div>


    <div class="card">
        <div class="bg-default card" id="headingFour">
          <h2 class="mb-0">
            <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Why play a RSPS instead of regular Runescape?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#FAQ">
          <div class="card-body">
            Runescape private servers are commonly played because of the enjoyable player experience. The thing about RSPS is that you 
            don’t need to grind for months to become a higher level, training skills goes much faster and if you are lucky you can become 
            rich within days of playing. The variety of private servers is huge, you can play many different private servers and there 
            are even ones with a lot of customs. If you like PvP(Player vs Player), go with a PKing server. If you like grinding 
            and PvM(Player vs Monster), go with an economy server. You can find any kind of server on the RuneAd rsps list. The 
            servers in the top 10 are the best ones in general. Pick your pick out of hundreds and hundreds of private servers 
            that are available on our toplist.
          </div>
        </div>
      </div>

  </div>