<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Newest Update!</strong> We are currently overhauling PlayZanaris for Jagex Community Servers">
        Here
    </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>