{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    {% include 'videos/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-12">

            <div class="card text-center">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
              
           
        </div>
    </div>

    {{ content|raw }}
</div>

{%  endblock %}