{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-0">Site Wide Banner Advertisement Information</h2>
                        <p>Last Updated August 8, 2020.</p>
                        <hr>
                        <h5><strong>What is a banner advertisement on the RuneAd website?</strong></h5>
                        <p>Banner advertisements are (728x90) paid banners slots. The banners will always be in relation to RuneScape Private Servers,
                        OldSchool RuneScape (OSRS), or RuneScape 3 (RS3). We do not allow advertisements from any other gaming networks, games, or websites
                        that do not supply any of the mentioned above. </p>
                        <h5><strong>Where do the banner advertisement link to?</strong></h5>
                        <p>All advertisement sites are pre-checked, and checked throughout the duration of the banner while listed on RuneAd.</p>
                        <p>Any advertisements that break our TOS or privacy policy will be removed from RuneAd until we investigate farther.</p>
                        <h5><strong>Privacy Information </strong></h5>
                        <p>Please visit our Privacy policy. <a href="https://runead.com/privacy">Privacy policy</a>
                        <h5><strong>Terms of Service</strong></h5>
                        <p>Please visit our Terms of Service. <a href="https://runead.com/terms">Terms of Service</a>
                    </div>
                </div>
                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
