{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-0">Contact RuneAd</h2>
                        <p>Last Updated August 31, 2020.</p>
                        <hr>
                        <h5><strong>E-Mail</strong></h5>
                        <p>Admin@RuneAd.com</p>
                        <p>When emailing please include the reason you are emailing, domain name ( if needed ), and any other information needed tp provide
                        a better and faster service.
                        <h5><strong>Discord</strong></h5>
                        <p>Join our discord: <a href="https://discord.gg/XH5keGQ">Discord</a></p>
                        <h5><strong>Before Contacting Us</strong></h5>
                        <p>Before contacting us please read our <a href="https://runead.com/privacy">Privacy Policy</a> and <a href="https://runead.com/terms">TOS</a></p>
                        <p>We advise you to look over these 2 above items to help fully understand our sites policy and terms. </p>
                    </div>
                </div>
                {{ content|raw }}
            </div>
        </div>
    </div>
</section>


{%  endblock %}
