{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-0">Frequently Asked Questions</h2>
                        <hr>
                        
                        <div class="accordion" id="FAQ">
                            <div class="card">
                              <div class="bg-default card" id="headingOne">
                                <h1 class="mb-0">
                                  <button class="text-white btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is RuneAd?
                                  </button>
                                </h1>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#FAQ">
                                <div class="card-body">
                                  RuneAd is a Runescape Private Server ( RSPS ) Toplist that lists and displays different RSPS. All servers & information 
                                  listed on RuneAd are provided by users. We do our best to keep the site up-to-date, and we post all updates via Discord 
                                  Developer Blog found on the <a href="https://discord.gg/XH5keGQ" target="_blank">RuneAd Discord</a>.

                                </div>
                              </div>
                            </div>

                            <div class="card">
                              <div class="bg-default card" id="headingTwo">
                                <h2 class="mb-0">
                                  <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I list my Runescape Private Server ( RSPS )?
                                  </button>
                                </h2>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#FAQ">
                                <div class="card-body">
                                    Listing your server has never been easier! The first step in getting your server listed is by logging in RuneAd, 
                                    which can be done by navigating to the top of RuneAd.com and clicking the "Sign in/ Register" button. 
                                    We require a Discord account in order to use our services. Once logged in, you will notice your discord username 
                                    at the top right of the webpage, hover over your name in and you will see "My Profile". 
                                    This is your RuneAd profile page that you will see different information based on your RuneAd time. 
                                    To add your RSPS from your profile page, simply click "Add Server", which will bring you to a form to fill out 
                                    with your server information. Private information about your servers such as the IP and Port will be hidden 
                                    from the public, but viewable only by the owner of the server listing. Once you are finished filling out the 
                                    form for your server, click the "create listing" button and this will put your listing on RuneAd. <br>
                                    There are two ways to use the backend voting of RuneAd. We have our own API which can be found 
                                    <a href="https://runead.com/docs" rel="nofollow" target="_blank">Here</a>. RuneAd is also listed on 
                                    <a href="https://everythingrs.com" rel="nofollow" target="_blank">EverythingRS</a>, infomation on how to set that up is listed on their website.
                                </div>
                              </div>
                            </div>

                            <div class="card">
                              <div class="bg-default card" id="headingThree">
                                <h2 class="mb-0">
                                  <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Does RuneAd offer a Premium / Sponsor slot?
                                  </button>
                                </h2>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#FAQ">
                                <div class="card-body">
                                    Yes! 
                                    Infomation reguarding Premium can be found <a href="https://runead.com/premium" rel="nofollow" target="_blank">Here</a> & infomation 
                                    reguarding Sponsor can be found <a href="https://runead.com/sponsor" rel="nofollow" target="_blank">Here</a>
                                </div>
                              </div>
                            </div>


                            <div class="card">
                                <div class="bg-default card" id="headingFour">
                                  <h2 class="mb-0">
                                    <button class="text-white btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                      What is the RuneAd Blog?
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#FAQ">
                                  <div class="card-body">
                                      The <a href="https://runead.com/blog" rel="nofollow" target="_blank">RuneAd Blog</a> is an amazing blogging system that allows users to post their own blogs on just about any topics they
                                      like. In order to post a blog you MUST be logged in and have the "Blogger" role which can only be given out on the discord.
                                      If you are interested in writing a blog on RuneAd please visit the <a href="https://discord.gg/XH5keGQ" target="_blank">RuneAd Discord</a>.
                                  </div>
                                </div>
                              </div>

                          </div>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>
{%  endblock %}
