{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-fill px-4 pr-5 text-center">
                            <table class="table">
<thead class="thead-light">
<tr>
  <th scope="col">Lifetime</th>
  <th scope="col">180 days</th>
  <th scope="col">90 days</th>
  <th scope="col">60 days</th>
  <th scope="col">30 days</th>
  <th scope="col">7 days</th>
  <th scope="col">24 hours</th>
  <th scope="col">1 hour</th>
</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>Jacob</td>
  <td>Thornton</td>
  <td>@fat</td>
</tr>
<tr>
  <th scope="row">3</th>
  <td>Larry</td>
  <td>the Bird</td>
  <td>@twitter</td>
</tr>
</tbody>
</table>

<table class="table">
<thead class="thead-light">
<tr>
  <th scope="col">#</th>
  <th scope="col">First</th>
  <th scope="col">Last</th>
  <th scope="col">Handle</th>
</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>Jacob</td>
  <td>Thornton</td>
  <td>@fat</td>
</tr>
<tr>
  <th scope="row">3</th>
  <td>Larry</td>
  <td>the Bird</td>
  <td>@twitter</td>
</tr>
</tbody>
</table>



                            </div>
                        </div>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
