{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-0">Terms of Service</h2>
                        <p>Last Updated August 4, 2019.</p>
                        <hr>
                        <p>By using this website, and any of it's sub-domains, you agree to the following terms and conditions. Please
                            note, that different terms and conditions may apply depending on the service in use.</p>

                        <h5><strong>Terms</strong></h5>
                        <ul>
                            <li>UGC = User Generated Content</li>
                            <li>RA = RuneAd</li>
                        </ul>

                        <h5><strong>1. RA Account</strong></h5>
                        <p>A Discord account is required to log in to the website, and use our services. To create one, visit
                            <a href="https://discordapp.com" target="_blank">https://discordapp.com</a>. Additions terms and conditions will apply
                            on Discord's platform. Once created, you will then be able to fully utilize our services.
                        </p>

                        <p>You must be at least 13 years of age (or such other minimum age as is applicable in your country of residence)
                            to use our services. If you are aged between the relevant minimum age and 18 (or the age of
                            majority where you live), you and your parent or guardian must review this Agreement together. Parents and
                            guardians are responsible for the acts of children under 18 years of age when using RA Services. We
                            recommend that parents and guardians familiarize themselves with parental controls on devices they provide
                            their child.</p>

                        <p>You are responsible for the activity on your RA Account. Your RA Account may be suspended or
                            terminated if someone else uses it to engage in activity that violates this Agreement.</p>

                        <p>You may cancel your account at any time. You also may cancel a subscription to a particular service at any time.
                            Contact us via the discord link at the top, and tag an admin and discuss it over private messages.</p>

                        <h5><strong>2. Rules of Conduct</strong></h5>
                        <p>When you access or use any of our services, you agree that you will not:</p>
                        <ul>
                            <li>Violate any law, rule or regulation.</li>
                            <li>Interfere with or disrupt any RA Service or any server or network used to support or provide an RA Service,
                                including any hacking or cracking into an RA Service.</li>
                            <li>Use any software or program that damages, interferes with or disrupts an RA Service or another's computer
                                or property, such as denial of service attacks, spamming, hacking, or uploading computer viruses, worms,
                                Trojan horses, cancelbots, spyware, corrupted files and time bombs.</li>
                            <li>Interfere with or disrupt another person's use of an RA Service. This includes chat or dialogue within an
                                RA Service by, for example, using vulgar or harassing language, being abusive, excessive shouting (all caps),
                                spamming, flooding or hitting the return key repeatedly.</li>
                            <li>Harass, threaten, bully, embarrass, spam or do anything else to another player that is unwanted, such as
                                repeatedly sending unwanted messages or making personal attacks or statements about race, sexual orientation,
                                religion, heritage, etc. Hate speech is not tolerated.</li>
                            <li>Contribute UGC or organize or participate in any activity, group or guild that is inappropriate, abusive,
                                harassing, profane, threatening, hateful, offensive, vulgar, obscene, sexually explicit, defamatory,
                                infringing, invades another's privacy, or is otherwise reasonably objectionable.</li>
                            <li>Publish, post, upload or distribute UGC or content that is illegal or that you don't have permission to
                                freely distribute.</li>
                            <li>Publish, post, upload or distribute any content, such as a topic, name, screen name, avatar, persona, or
                                other material or information, that RA (acting reasonably and objectively) determines is inappropriate,
                                abusive, hateful, harassing, profane, defamatory, threatening, hateful, obscene, sexually explicit,
                                infringing, privacy-invasive, vulgar, offensive, indecent or unlawful.</li>
                            <li>Impersonate another person or falsely imply that you are an RA employee or representative.</li>
                            <li>Improperly use in-game support or complaint buttons or make false reports to RA staff.</li>
                            <li>Attempt to obtain, or phish for, a password, account information, or other private information from anyone
                                else on RA Services.</li>
                            <li>Use any robot, spider or other automated device or process to access this website for any purpose or copy
                                any material on this website.</li>
                            <li>Use or distribute unauthorized software programs or tools, such as "auto" software programs, "macro"
                                software programs, "cheat utility" software program or applications, exploits, cheats, or any other game
                                hacking, altering or cheating software or tool.</li>
                            <li>Modify any file or any other part of the RB Service that RA does not specifically authorize you to modify.</li>
                            <li>Use exploits, cheats, undocumented features, design errors or problems in an RA Service.</li>
                            <li>Sell, buy, trade or otherwise transfer or offer to transfer your RA Account or any personal access
                                to RA Services.</li>
                            <li>Use an RA Service in a country in which RA is prohibited from offering such services under applicable export control laws.</li>
                            <li>Use information about users publicly available in any RA Service for any purpose
                                unrelated to the Service, including to attempt to identify such users in the real world.</li>
                            <li>Promote, encourage or take part in any prohibited activity described above.</li>
                        </ul>

                        <p>If you or someone using your RA Account violates these rules and fails to remedy this violation after a warning,
                            RA may take action against you, including revoking access to certain or all RA Services, Content or Entitlements,
                            or terminating your RA Account as described in Section 3. In case of severe violations, RA may take these
                            actions without issuing a prior warning. Some examples of severe violations include, but are not limited to:
                            promoting, encouraging or engaging in hacking, selling RA accounts or entitlements without RA’s permission,
                            extreme harassment, or threatening illegal activities. When practical, RA will notify you of the action it will
                            take in response to violations of these rules or breach of this Agreement.</p>

                        <p>If you encounter another user who is violating any of these rules, please report this activity to a staff member
                            via discord.</p>

                        <h5><strong>3. Termination and Other Sanctions</strong></h5>

                        <p>This Agreement is effective until terminated by you or RA. RA may terminate your access and use of any RA
                            Services or your RA Account if RA determines that you have violated this Agreement or that there has been
                            otherwise unlawful, improper or fraudulent use of RA Services associated with your RA Account. When practical,
                            RA will notify you of the termination. If your RA Account is terminated, you will not have access to your RA
                            Account or Entitlements and may be barred from accessing or using any RA Service again. Upon termination,
                            your license under this Agreement also shall terminate, and all of your listings will be removed. If you have
                            active premium, you will not be refunded in full, or in part.</p>

                        <h5><strong>4. Listing Rules &amp; Guidelines</strong></h5>
                        <ul>
                            <li>All information must be relevant to the game server, and may not include anything that goes against Section 2.</li>
                            <li>False or misleading advertisements will result in termination in accordance with Section 3.</li>
                            <li>Images must be related to your listing, and not contain anything that goes against Section 2.</li>
                            <li>Affiliate links are not allowed. Referral links, however, are allowed, as long as there is no monetary gain.</li>
                            <li>Each of your listings must be unique, and not relate to any other game server. Duplicates will be removed
                            and your account may be terminated in accordance with Section 3.</li>
                        </ul>

                        <h5><strong>5. Use of Data / Data Collection</strong></h5>
                        <p>When using a RA service, RA may collect data from your computer or device, including information
                        about your computer or device and operating system (such as IP Address), system interactions, and hardware. We
                        do not store this data, and we do not share this data with anyone. We use this information to provide you with
                        the best possible experience on your platform, improve our products and services, and trouble shoot bugs. (mostly
                        the latter).</p>

                        <h5><strong>6. Paypal/Payment Requirements</strong></h5>
                        <p>Purchases made on the website are subject to PayPal's terms of service. A verified account is not required,
                            but highly recommended to prevent issues in the future. The account used to make the purchase must be yours,
                            and in your own name, and owned by you explicitly. All purchases are made in USD currency. Any attempt to
                            dispute the payment wrongfully (such as an unauthorized claim or item not received when it was legit), may
                            result in termination of your account in accordance with Section 3.</p>

                        <h5><strong>7. Changes to this agreement</strong></h5>
                        <p>RA may modify this Agreement from time to time, so please review it frequently. For RA players who accepted a
                            version of this Agreement prior to modification, the revisions will become effective 30 days after posting
                            at RuneAd.com/terms. Your continued use of RA Services means you accept the changes. Once you accept
                            a version of the Agreement, we will not enforce future material changes without your express agreement to them.
                            If you are asked to accept material changes to this Agreement and you decline to do so, you may not be able
                            to continue to use the RA Service provided.</p>
                    </div>
                </div>
                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
