<?php
$connection = mysql_connect('localhost', 'admin_runead', 'IKRd3sZ7dK'); //The Blank string is the password
mysql_select_db('admin_runead');

$query = "SELECT * FROM counter"; //You don't need a ; like you do in SQL
$result = mysql_query($query);

echo "<table>"; // start a table tag in the HTML

while($row = mysql_fetch_array($result)){   //Creates a loop to loop through results
echo "<tr><td>" . $row['player'] . "</td><td>" . $row['kills'] . "</td></tr>";  //$row['index'] the index here is a field name
}

echo "</table>"; //Close the table in HTML

mysql_close(); //Make sure to close out the database connection
?>
