{%  extends 'layout.twig' %}

{% block content %}
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body py-5 text-center">
                        <h3 class="mb-0">Page Not Found</h3>
                        <p>Sorry, the page you're looking for does not exist.</p>
                        <p>If you feel this is an issue please contact us.</p>
                        <button type="button" href="{{ / }}" class="btn btn-primary btn-sm">Home</button>
                        <button type="button" class="btn btn-primary btn-sm">Blog</button>
                        <button type="button" class="btn btn-primary btn-sm">RSPS/OSRS Videos</button>
                        <button type="button" class="btn btn-primary btn-sm">Forums</button>
                        <button type="button" class="btn btn-primary btn-sm">Buy OSRS Gold</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
