{%  extends 'layout.twig' %}

{% block content %}
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body py-5 text-center">
                        <i class="fal fa-exclamation-triangle fa-5x mb-3"></i>
                        <h3 class="mb-0">An Error Occured</h3>
                        <p>{{ errmsg }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
