{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-0">Privacy Policy</h2>
                        <p>Last Updated September 1, 2020.</p>
                        <hr>
                        <p>We are committed to integrity and professionalism in all areas of our services and therefore we take our
                            obligations under the Data Protection Act 1998 (“the Act”) seriously. We will use all reasonable endeavors
                            to protect your privacy and ensure that personal data is collected and processed in accordance with the Act
                            and only as outlined below.</p>

                        <h5><strong>Your Personal Data; What we collect</strong></h5>
                        <p>We may collect the following types of personal data from you if you buy or use products or services from us:</p>
                        <ul>
                            <li>Your name, date of birth, address, email address, country of origin, or ip address.</li>
                            <li>information about your computer, including but not limited to your IP address, operating system. We may
                                obtain information by using a cookie file which is stored on the hard drive of your computer. Cookies
                                contain information that is transferred to your computer’s hard drive and allow us to recognize your PC
                                and your preferred settings. Most browsers can be programmed to reject, or warn you, before using cookies.</li>
                        </ul>

                        <h5><strong>Your Personal Data; How we use it</strong></h5>
                        <ul>
                            <li>We will use your personal data for administrative purposes, including making a contract with you, billing
                                you, receiving payment from you and carrying out services for you.</li>
                            <li>We may use the data you provide to conduct appropriate anti-fraud checks. To ensure that your credit,
                                debit or charge card has not been used without your consent, we will validate name, address and other
                                personal information that you supply during the order and payment process. In performing these checks,
                                personal data you provide may be disclosed to a registered Credit Reference Agency, which may keep a
                                record. This is done only to confirm your identity and no credit check is performed, and your credit
                                rating should not be affected.</li>
                            <li>We may use your email address to contact you with news, updates, and RuneAd related matters</li>
                        </ul>

                        <h5><strong>Your Personal Data; Use by third parties</strong></h5>
                        <ul>
                            <li>Personal data may be disclosed to third parties or authorities if criminal activity is suspected</li>
                            <li>
                                We will not provide any of your personal data to any third party unless
                                <ul>
                                    <li>you specifically authorize us to do so; or</li>
                                    <li>we need to do so in relation to a payment transaction with a credit or debit card company or in
                                        relation to a direct debit transaction with a bank or other financial institution or credit
                                        reference agency; or</li>
                                    <li>we are required to do so by law or other binding regulation.</li>
                                    <li>Visit the DCMA website <a href="https://www.copyright.gov/legislation/dmca.pdf">Here</a></li>
                                </ul>
                            </li>
                        </ul>

                        <h5><strong>Maintaining records</strong></h5>
                        <p>In line with current requirements under the Data Protection Act, 1998, we will retain your personal data for
                            no longer than necessary. We encourage you to provide full personal data and you agree to provide personal
                            data which is in all respects true, accurate and up to date and is not misleading, deceptive or inaccurate.</p>

                        <h5><strong>Data Security</strong></h5>
                        <p>We will take reasonable steps to protect the personal data under our control from unauthorized access, improper
                            use and disclosure. Even though we have taken reasonable steps to protect your data whilst it is being
                            transmitted, we cannot guarantee the security of any data transmitted to us by the internet and any
                            transmission is at your own risk. Once we have received your data, we will use strict procedures and security
                            features to prevent unauthorized access.</p>

                        <h5><strong>Requesting Information</strong></h5>
                        <p>The full extent of the personal data we hold on you is displayed in the Administration section of our website
                            at RuneAd.com. You may ask us to provide you with a copy of the personal data we hold about you for a
                            nominal fee by sending an email to Suppirt@RuneAd.com. For your protection, we may ask for proof of your
                            identity before providing any information and reserve the right to refuse to provide information requested
                            if your identity is not established to our satisfaction.</p>

                        <p>If you have any enquiry or concern about our Privacy Policy, or the way we are handling your personal data,
                            please contact us at the e-mail address below</p>
                            <p>Admin@RuneAd.com</p>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
