{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    {% include 'lantern/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-12">

        </div>
        <div class="col-sm-12 col-lg-12">

            <div class="text-white alert alert-default shadow-sm">
               <h3>Nothing to see here yet</h3>
            </div>
        </div>
    </div>

    {{ content|raw }}
</div>

{%  endblock %}