{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    {% include 'lantern/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-12">


            <!-- Page Content -->
<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Basic Forum</h5>
            <hr>
            <div class="card-text text-default">* Standard Theme</div>
            <div class="card-text text-default">* Useful Plugins</div>
            <div class="card-text text-default">* Host Ready</div>
            <div class="card-text text-default">* Extensive Support</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Forum +</h5>
            <hr>
            <div class="card-text text-default">* Custom Theme</div>
            <div class="card-text text-default">* Advanced Plugins</div>
            <div class="card-text text-default">* Host Ready</div>
            <div class="card-text text-default">* Premium Support</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Custom Theme</h5>
            <hr>
            <div class="card-text text-default">* Unique & Eye Catching</div>
            <div class="card-text text-default">* Mobile Optimised</div>
            <div class="card-text text-default">* Customer Preference on Design</div>
            <div class="card-text text-default">* Logo Design Included</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="h" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Site Optimisation</h5>
            <hr>
            <div class="card-text text-default">* Mobile Optimisation</div>
            <div class="card-text text-default">* SEO Improvements</div>
            <div class="card-text text-default">* Speed & Security Services</div>
            <div class="card-text text-default">* Useful Advice</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->


        </div>

    </div>

    {{ content|raw }}
</div>

{%  endblock %}