{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    {% include 'lantern/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-12">


            <!-- Page Content -->
<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Basic Forum</h5>
            <hr>
            <div class="card-text text-black-50">Standard Theme</div>
            <div class="card-text text-black-50">Useful Plugins</div>
            <div class="card-text text-black-50">Host Ready</div>
            <div class="card-text text-black-50">Extensive Support</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Forum +</h5>
            <hr>
            <div class="card-text text-black-50">Custom Theme</div>
            <div class="card-text text-black-50">Advanced Plugins</div>
            <div class="card-text text-black-50">Host Ready</div>
            <div class="card-text text-black-50">Premium Support</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Custom Theme</h5>
            <hr>
            <div class="card-text text-black-50">Unique & Eye Catching</div>
            <div class="card-text text-black-50">Mobile Optimised</div>
            <div class="card-text text-black-50">Customer Preference on Design</div>
            <div class="card-text text-black-50">Logo Design Included</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Site Optimisation</h5>
            <hr>
            <div class="card-text text-black-50">Mobile Optimisation</div>
            <div class="card-text text-black-50">SEO Improvements</div>
            <div class="card-text text-black-50">Speed & Security Services</div>
            <div class="card-text text-black-50">Useful Advice</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->


        </div>

    </div>

    {{ content|raw }}
</div>

{%  endblock %}