<div class="text-center card-body">
              <div class="container">
                <table class="table mt-0 mb-0 tab " style="line-height: 0.0em">
                  <p id="AdVotePage3"></p>
                </table>
              </div>
          </div>
