<div class="container" style="margin-top:-30px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <div id="factBox" class="d-flex align-items-center"style="height:80px;">
                        <div class="w-100">
                            <p class="small text-muted mb-0">Did you know? Fact #<span id="factNum"></span></p>
                            <p id="factTxt" class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
