<p><i class="fal fa-exclamation-triangle fa-5x text-danger"></i></p>
<h3>Payment Failed</h3>

<p>{{ message }}</p>
<button type="button" class="btn btn-danger" data-dismiss="modal">Ok, thanks!</button>