<div class="row">
    <div class="col-sm-12">
        <div class="card border-0 shadow-sm mb-3">
            <div class="underlogo-container card-body d-flex align-items-center">

        <div class="d-flex flex-column align-items-center justify-content-center" style="height:100px;">
            <h1 class="text-quicksand runegreen text-center mb-0" style="line-height:1em;">
                <span>World</span>Panel
            </h1>
                        <p class="text-quicksand text-white text-center mb-0" style="line-height:1em;">
                            <i class="fas fa-shield-alt" style="color: white;"></i>
                            Configure your Worlds on PlayZanaris
                        </p>


            </div>
        </div>
    </div>
</div>
