<div class="card border-0 shadow-sm mb-4">
     <div class="list-group">
         <a href="{{ url('profile') }}" class="list-group-item {{ action == "index" ? "active" : "" }}">
             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('house', 18, 18) }}
             </div>
             Profile Home
         </a>
     </div>
 </div> 
