<div class="row">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                    <div class="px-2">
                        <i class="fi-xwsux5-youtube"></i>
                    </div>
                     <div class="flex-fill w-100">
                         
                         <h2 class="mb-0">
                             Videos
                         </h2>
                         <small class="text-muted">Watch some amazing RSPS and OSRS content here!</small>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
