{%  extends 'layout.twig' %}

 {% block content %}

 <div class="container" style="margin-top:-30px;">
     {% include 'blog/components/postheader.twig' %}

     <div class="row mb-3">
         <div class="col-sm-12 col-lg-12">
             <div class="card border-0 shadow-sm mb-3">
                 <div class="card-header">
                     <div class="row align-items-center">
                         <div class="col w-100">
                             {{ blogs.description }}
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card border-0 shadow-sm mb-3">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="text-center col w-100">
                            Share buttons - something here to look nice and pretty. This is placeholder
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>

     {{ content|raw }}
 </div>

 {%  endblock %}
