<footer class="footer bg-dark-footer pt-5 pb-3 mt-5 text-white">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6">
                <h2 class="text-primary mb-0">RuneAd</h2>
                <p class="mb-0">RuneAd is the newest, most up-to-date and modern RuneScape Private Server Toplist. Search and effectively find all the newest RSPS using RuneAd! Join us now and effectively boost your player count!</p>
            </div>

            <div class="col-lg-6 btn-wrapper text-center text-lg-right mt-sm-4 mt-lg-0">
            <a href="https://www.facebook.com/RuneAd/" class="px-3 text-primary" target="_blank">
                <i class="fab fa-facebook-square fa-fw fa-2x"></i>
            </a>
            </div>
        </div>

        <hr>

        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2020 <a href="https://runead.com" class="text-primary" rel="nofollow">RuneAd</a>. Created by <a href="https://github.com/ogkingfox">KingFox</a>.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                        <a href="{{ url('terms') }}" class="nav-link">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('privacy') }}" class="nav-link">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://probemas.com/Buy-OSRS-Gold" target="_blank" class="nav-link">Buy OSRS Gold</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
