<!--created by https://github.com/OGKingFox-->
<div class="border-bottom border-primary header text-white">
    <div class="container">
        <div class="d-flex" style="height:250px">
           
            <div class="flex-fill w-100">
                <h1 class="text-white text-center mb-0" style="line-height:2em;">
                    <i class="fi-xwluxm-gift-wide" style="color:#E40010;"></i><span>Rune</span>Ad<i class="fi-xwluxm-gift-wide" style="color:green;"></i>
                    </h1>
                    <p class="text-center mb-0 pl-1" style="line-height:0em;">
                        The Modern RuneScape Private Server Toplist
                    </p>
                    <p class="text-center "id="newyears"></p>
                    <h4 class="text-center mb-0 pl-3" style="line-height:2em;">
                        Until New Years 2021!
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jan 1, 2021 24:00:00").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
        
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
        
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
          document.getElementById("newyears").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";
        
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("newyears").innerHTML = "HAPPY NEW YEARS!";
          }
        }, 1000);
        </script>
