<style type="text/css">

.text-logo {
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	   };
   }

</style>

<div class="header text-logo pb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <h1 class="text-logo mb-0"><span>Rune</span>Ad
                    <sup style="font-size:14px;margin-top:24px;position:absolute;">Play.</sup>
                    <sup style="font-size:14px;margin-top:42px;position:absolute;">Grind.</sup>
                    <sup style="font-size:14px;margin-top:60px;position:absolute;">Enjoy.</sup>
                </h1>
                <p class="text-muted small mb-5">The most modern & up-to-date RuneScape Private Server Toplist</p>
            </div>
        </div>
    </div>
</div>
