<div class="header text-white pb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <h1 class="text-white mb-0"><span><i class="fad fa-shield-alt text-primary fa-fw"></i>Rune</span>Ad
                    <sup style="font-size:14px;margin-top:24px;position:absolute;">Play.</sup>
                    <sup style="font-size:14px;margin-top:42px;position:absolute;">Grind.</sup>
                    <sup style="font-size:14px;margin-top:60px;position:absolute;">Repeat.</sup>
                </h1>
                <p class="text-muted text-center small mb-5">The Modern RuneScape Private Server Toplist</p>
            </div>
        </div>
    </div>
</div>
