<div class="border-bottom border-primary header text-white">
    <div class="container">
        <div class="d-flex" style="height:250px">
            <div class="flex-fill w-100">
                <h1 class="text-quicksand text-white text-center mb-0" style="line-height:2em;">
                    <i class="fas fa-shield-alt" style="color: white;"></i><span>Rune</span>Ad
                    </h1>
                    <h5 class="text-white text-center mb-0 pl-1" style="line-height:0em;">
                        The Modern RuneScape Private Server Toplist
                    </h5>
                </div>
            </div>
        </div>
    </div>
