<div class="header text-white">
    <div class="container">
        <div class="d-flex pb-5 align-items-center" style="height:250px">
        <div class="flex-fill">
          <i class="fas fa-shield-alt fa-4x fa-fw text-white"></i>
            </div>
            <div class="flex-fill w-100">
                <h1 class="text-white mb-0" style="line-height:1em;">
                    <span>Rune</span>Ad
                </h1>
                <p class="mb-0 pl-1" style="line-height:1em;">
                    The Modern RuneScape Private Server Toplist
                </p>
            </div>
        </div>

    </div>
</div>
