{%  extends 'layout.twig' %}

 {% block content %}

 <div class="container" style="margin-top:-30px;">
     <div class="row">
         <div class="col-sm-12">
             <div class="card border-0 shadow-sm mb-3">
                 <div class="card-body" style="line-height:.8em;">
                     <div class="d-flex align-items-center">
                         <div class="flex-fill w-100">
                             <small class="text-muted">Statistics</small>
                             <h5 class="mb-0">
                                 {{ server.title }}
                             </h5>
                         </div>
                         <div class="flex-fill w-100 text-right">
                             <a href="{{ url('profile') }}"
                                 class="btn btn-success btn-lg">
                                 Back to Profile
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="row">
         <div class="col-sm-12">
             <div class="card border-0 shadow-sm">
                 <div class="card-body">
                     {{ content|raw }}
                 </div>
             </div>
         </div>

     </div>


 </div>

 {%  endblock %}
