{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-40px;">
    {% include 'commands/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-2">

            {% include 'commands/components/sidebar_nav.twig' %}
            

        </div>
        <div class="col-sm-12 col-lg-10">
           

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Command</th>
                <th scope="col">Usage</th>
                <th scope="col">Info</th>
                <th scope="col">Code</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th scope="row"><span class="badge bg-primary text-white">Owner</span></th>
                <th scope="row"><span class="badge bg-warning text-white">::master</span></th>
                <td><span class="badge bg-warning text-white">::master</span></td>
                <td>Gives player all 99 skills</td>
                <td> 
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#CommandMaster">
                    Code
                  </button>
              </td>
              </tr>

              <tr>
                <th scope="row"><span class="badge bg-primary text-white">Owner</span></th>
                <th scope="row"><span class="badge bg-warning text-white">::pickup</span></th>
                <td><span class="badge bg-warning text-white">::pickup</span> <span class="badge bg-info text-white">ItemID</span> <span class="badge bg-success text-white">number</span></td>
                <td>Gives player item + x amount</td>
                <td> 
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#CommandPickup">
                    Code
                  </button>
              </td>
              </tr>  

              <tr>
                <th scope="row"><span class="badge bg-primary text-white">Owner</span></th>
                <th scope="row"><span class="badge bg-warning text-white">::ipban</span></th>
                <td><span class="badge bg-warning text-white">::ipban</span> <span class="badge bg-info text-white">PlayerName</span></td>
                <td>Bans player by IP</td>
                <td> 
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#CommandIPBan">
                    Code
                  </button>
              </td>
              </tr>  

            </tbody>
          </table>

          <div class="modal fade" id="CommandPickup" tabindex="-1" role="dialog" aria-labelledby="CommandPickupTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Command code: <span class="badge bg-warning text-white">::pickup</span>
                    <small class="text-muted">This code is an example and may need editing to match your source.</small>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Pickup Code heree
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="CommandMaster" tabindex="-1" role="dialog" aria-labelledby="CommandMasterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Command code: <span class="badge bg-warning text-white">::master</span>
                  </br>
                  <small class="text-muted">This code is an example and may need editing to match your source.</small>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                <div class="modal-body">
                  <style>
                    code[class*="language-"], pre[class*="language-"] {
                        font-size: .6rem;
                        text-align: left;
                    }
                </style>
                <span class="text-left badge bg-dark text-white badge-lg badge-pill">JAVA</span>

                <pre class="text-left language-java">
                <code class="text-left language-java">
                if (command[0].equalsIgnoreCase("master")) {
                  for (Skill skill : Skill.VALUES) {
                    int level = SkillManager.getMaxAchievingLevel(skill);
                    player.getSkillManager().setCurrentLevel(skill, level).setMaxLevel(skill, level).setExperience(skill,
                        SkillManager.getExperienceForLevel(level == 120 ? 120 : 99));
                  }
                  player.getPacketSender().sendConsoleMessage("You are now a master of all skills.");
                  player.getUpdateFlag().flag(Flag.APPEARANCE);
                }
                </code>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="CommandIPBan" tabindex="-1" role="dialog" aria-labelledby="CommandIPBanTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Command code: <span class="badge bg-warning text-white">::ipban</span>
                    <small class="text-muted">This code is an example and may need editing to match your source.</small>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <style>
                    code[class*="language-"], pre[class*="language-"] {
                        font-size: .6rem;
                        text-align: left;
                    }
                </style>
                <span class="text-left badge bg-dark text-white badge-lg badge-pill">JAVA</span>

                <pre class="text-left language-java">
                <code class="text-left language-java">
              		if (command[0].equalsIgnoreCase("ipban")) {
                    final String bannedUserName = Misc.formatPlayerName(wholeCommand.substring(command[0].length() + 1));
              
                    player.sendMessage("Attempting to ban " + bannedUserName);
                    Player player2 = PlayerHandler.getPlayerForName(bannedUserName);
                    if (player2 == null) {
                      player.getPacketSender()
                          .sendConsoleMessage("Could not find that player online, started searching offline files.");
                      BanHammer.ban(BanType.IP, player, bannedUserName);
                    } else {
                      if (PlayerPunishment.IPBanned(player2.getHostAddress())) {
                        player.getPacketSender().sendConsoleMessage(
                            "Player " + player2.getUsername() + "'s IP is already banned. Command logs written.");
                        return;
                      }
                      final String bannedIP = player2.getHostAddress();
                      PlayerPunishment.addBannedIP(bannedIP);
                      player.getPacketSender().sendConsoleMessage(
                          "Player " + player2.getUsername() + "'s IP was successfully banned. Command logs written.");
                      World.sendStaffMessage("<col=FF0066><img=10> [PUNISHMENTS]<col=6600FF> " + player.getUsername()
                          + " has IPbanned " + player2.getUsername() + ". Don't forget to post logs!");
                      for (Player playersToBan : World.getPlayers()) {
                        if (playersToBan == null) {
                          continue;
                        }
                        if (Objects.equals(playersToBan.getHostAddress(), bannedIP)) {
                          PlayerLogs.log(player.getUsername(),
                              "" + player.getUsername() + " just IPBanned " + playersToBan.getUsername() + "!");
                          World.deregister(playersToBan);
                          if (!Objects.equals(player2.getUsername(), playersToBan.getUsername())) {
                            player.getPacketSender().sendConsoleMessage("Player " + playersToBan.getUsername()
                                + " was successfully IPBanned. Command logs written.");
                          }
                        }
                      }
                    }
                  }
                </code>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          
        </div>
    </div>

    {{ content|raw }}
</div>

{%  endblock %}