{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-40px;">
    {% include 'commands/components/header.twig' %}

    <div class="row mb-3">
        <div class="col-sm-12 col-lg-3">

            {% include 'commands/components/sidebar_nav.twig' %}
            

        </div>
        <div class="col-sm-12 col-lg-9">
           

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Command</th>
                <th scope="col">Usage</th>
                <th scope="col">Info</th>
                <th scope="col">Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div class="collapse" id="collapseMaster">
                  <div class="card card-body">
                   Master Code here
                  </div>
                </div>
                <th scope="row">::master</th>
                <td>::master</td>
                <td>Gives player all 99 skills</td>
                <td> 
                  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapsemaster" aria-expanded="false" aria-controls="collapseMaster">
                  Code
                </button>
              </td>
              </tr>
              <tr>
                <div class="collapse" id="collapsePickup">
                  <div class="card card-body">
                   Pickup Code here
                  </div>
                </div>
                <th scope="row">::pickup</th>
                <td>::pickup <span class="badge bg-info text-white">ItemID</span> <span class="badge bg-success text-white">number</span></td>
                <td>Gives player item + x amount</td>
                <td> 
                  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapsePickup" aria-expanded="false" aria-controls="collapsePickup">
                  Code
                </button>
              </td>
              </tr>           
            </tbody>
          </table>




          
        </div>
    </div>

    {{ content|raw }}
</div>

{%  endblock %}